{% extends 'registration/base.html' %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler subtle-border" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">HOME</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'tips' %}">Tips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>
            
          </ul>
          
        </div>
      </div>
    </div>
  </nav>


<div class="container-fluid">
    <div class="row">
        <!-- Main Content -->
        <div class="col-md-12">
            <br>
            <br>
            <!-- My Job Offers -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-centered">
                        <h1 style="color: black" class="display-4">JOB APPLICATIONS TRACKER</h1>
                        {% if user.is_authenticated %}
                            <p style="color:rgb(1, 1, 1)">Welcome, {{ user.username }}!</p>
                        {% else %}
                            <p>Veuillez vous connecter pour accéder à votre tableau de bord.</p>
                        {% endif %}
                    </div>
                </div>
            </div>



            <!-- Message encadré -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="alert alert-info rounded-pill text-center" role="alert" style="font-family: Arial, sans-serif;">
                      You have applied to {{ num_offers }} offers. Keep going, don't give up, you're almost there!
                    </div>
                </div>
            </div>

            <form action="{% url 'dashboard' %}" method="post">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
                {% csrf_token %}
                <div class="d-flex justify-content-center" style="color: black; flex-wrap: wrap;">
                  <div class="mb-2" style="margin-right: 10px;">
                      <label for="number" class="form-label">Number:</label>
                      <input type="number" name="number" id="number" value="{{ form.number.value }}" class="form-control form-control-sm rounded-pill small-input" style="text-align: center;">
                  </div>
              
                  <div class="mb-2" style="margin-right: 10px;">
                      <label for="title" class="form-label">Title:</label>
                      <input type="text" name="title" id="title" class="form-control form-control-sm rounded-pill small-input" style="text-align: center;">
                  </div>
              
                  <div class="mb-2" style="margin-right: 10px;">
                      <label for="company" class="form-label">Company:</label>
                      <input type="text" name="company" id="company" class="form-control form-control-sm rounded-pill small-input" style="text-align: center;">
                  </div>
              
                  <div class="mb-2" style="margin-right: 10px;">
                      <label for="application_date" class="form-label">Application Date:</label>
                      <input type="date" name="application_date" id="application_date" class="form-control form-control-sm rounded-pill small-input" style="text-align: center;">
                  </div>
              
                  <div class="mb-2" style="margin-right: 10px;">
                      <label for="url" class="form-label">Link:</label>
                      <input type="url" name="url" id="url" class="form-control form-control-sm rounded-pill small-input">
                  </div>
                  
                  <div>
                    
                  <button type="submit" style="margin-top: 25px; margin-left: 40px; text-align: center" class="btn btn-outline-primary">Add Other Job Offer</button></div>
              </div>
              
            

            </form>
            


    


            <!-- Liste des offres -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-centered">
                        <table class="table">
                            <thead>
                                <tr style="text-align: center;">
                                    <th>N</th>
                                    <th>Title</th>
                                    <th>Company</th>
                                    <th>Application Date</th>
                                    <th>Link</th>
                                    <th>❌</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job_offer in job_offers %}
                                    <tr style="text-align: center;">
                                        <td style="vertical-align: middle;">{{ job_offer.number }}</td>
                                        <td style="vertical-align: middle;">{{ job_offer.title }}</td>
                                        <td style="vertical-align: middle;">{{ job_offer.company }}</td>
                                        <td style="vertical-align: middle;">{{ job_offer.application_date|date:"d/m/Y" }}</td>
                                        <td style="vertical-align: middle;"><a href="{{ job_offer.url }}" target="_blank">See offer</a></td>
                                        
                                        <td>
                                            <form action="{% url 'delete_job_offer' job_offer.pk %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" onclick="return confirm('Are you sure you want to delete this job offer?')" style="text-align: center" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="7">Aucune offre d'emploi pour le moment.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        
                        <div style="margin-top: 250px; text-align: center;">
                          <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">Logout</button>
                          </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
    body {
        background: linear-gradient(to bottom, rgba(254, 254, 255, 0.532), #02f7ae80);
        color: #fff;
    }

    .small-input {
        width: 120px;
        height: 25px;
        font-size: 12px;
    }

    .form-control,
    label {
        margin-bottom: 10px;
    }

    .bg-gradient-blue {
        background: linear-gradient(to bottom, rgba(254, 254, 255, 0.532), rgba(120, 173, 146, 0.416));
    }

    .text-white {
        color: #fff;
    }

    .p-4 {
        padding: 1.5rem !important;
    }

    hr.my-4 {
        border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
    }

    .subtle-border {
    border: 1px solid rgba(0, 0, 0, 0.1); /* Adjust the color and opacity as needed */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}
</style>

{% endblock %}
